@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Belleza&family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Person{
background-image: url('./imagens/runas2.png');
height: 600px;
background-size: 100%;  
}

.person_tittle{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.person_tittle h1{
    font-size: 40px;    
}

.Persons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.Persons h2{
    font-size: 17px;
}

.personsimg{
    width: 100%;    
}

.imgbox{
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

@media screen and (max-width: 780px) {
    .Person{
        background-image: url('./imagens/runas2.png');
        height: 2300px;
        background-size: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 200px;
        }
        
        .person_tittle{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            
        }
        
        .person_tittle h1{
            font-size: 30px;    
        }
        
        .Persons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 100%;
        }
        
        .Persons h2{
            font-size: 17px;
        }
        
        .personsimg{
            width: 100%;    
        }
        
        .imgbox{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
        }

}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .Person{
        background-image: url('./imagens/runas2.png');
        height: 4000px;
        background-size: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        }
        
        .person_tittle{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            
        }
        
        .person_tittle h1{
            font-size: 40px;    
        }
        
        .Persons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 100%;
        }
        
        .Persons h2{
            font-size: 30px;
        }
        
        .personsimg{
            width: 100%;    
        }
        
        .imgbox{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
        }

}